.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: rgba(214, 184, 128, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 4px;
	position: absolute;
	z-index: 299;
	top: 150%;
	left: 50%;
	margin-left: -80px;
}

@media screen and (min-width: 600px) {
	.tooltip .tooltiptext{
		font-size: 20px;
	}
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgba(214, 184, 128, 0.7) transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
